@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@tailwind utilities;

/* Add this to your globals.css file */
@layer components {
  .nav-button {
    @apply block px-8 py-4 bg-white text-rose-500 font-semibold rounded-xl shadow-lg hover:shadow-xl transition-shadow duration-300 text-center;
  }
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
